#title-slide {
  left: 30%;
  text-align: left;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}


.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  padding: 0;
}


.datatables {
  font-size: medium;
}

#otter-pound {
  width: 80%;
}

#textbox {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  display: table;
  margin: 0 auto;
}

#qr {
  position: absolute;
  bottom: 0;
  right: 0
}

.profile {
  position: absolute;
  bottom: 0;
}

.profile ul {
  list-style-type: none;
}

div.profile > ul {
  margin-inline: auto;
  display: flex;
  width: 30%;
  align-items: center; /* Align Items Vertically */
  justify-content: space-between; /* Align Items Horizontally (with equal space in between each of them */
}

div.profile > ul > li {
  margin: 0 5px;
  padding: 0 5px;
  font-size: 30px;
}

#jannik {
  width: 30%;
}

#jannik > p > img {
  border-radius: 50%;
}

#tool-logos {
  width: 60%;
  margin-inline: auto;
  align-items: center;
}

#letters {
  font-size: 1.5em;
}

.tr {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
}

.sidenote {
  position: absolute;
  top: 35%;
  right: 0;
  width: 30%;
  font-size: 4rem;
}

#rstudio {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
}


